*{
    margin: 0px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
.offer{
    background-color: #790606;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height:300px;
    padding: 0px !important;
}

.offer-img{
    height: 300px;
    margin-right: 15px;
}

.about-offer{
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: white;
}

#highlight-offer{
    font-size: 25px;
    font-weight: bold;
    color: #ffd500;
}

#offer-third-line{
    font-size: 14px
}

.offer-btn{
    background-color:yellow;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* NAVBAR */
.navbar{
    background-color:white;
    padding: 20px 30px;
    display:flex;
    color:#2a2828f9;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 18px;
}
.navbar-left{
    display:flex;
    gap: 10px;
}
.navbar-text{
    top: 10px;
}

.navbar-right{
    display:flex;
    gap: 20px;
    margin-left: 10px;
}

#login-btn{
    border: 2px solid green;
    border-radius:20px;
    border-color: green;
    background-color: white;
    color: #2a2828f9;
    padding: 5px 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

#register-btn{
    border: 2px solid green;
    border-radius:20px;
    background-color: green;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
body{
    background-color: #f3f4f7;
}
/* Hero Section */
.hero {
    background-color: #f3f4f7;
    text-align: center;
    padding: 30px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.hero-text {
    color: #2a2828f9;
}

#hero-first-line {
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: inline-block;
}

#hero-second-line {
    font-size: 40px;
    font-weight: 700;
    color: #2a2828f9;
    margin-bottom: 20px;
    max-width: 600px; 
}

#hero-third-line {
    font-size: 14px;
    font-weight: 500;
    color: #f69e06e9;
    margin-bottom: 5px;
}

#hero-fourth-line {
    font-size: 22px;
    color: #2a2828f9; 
    border: 2px solid white;
    border-radius: 20px;
    background-color: #f3f4f7;
    display: inline-block;
    padding: 20px 20px;
}

.input-button {
    border: 2px solid gray;     
    border-radius: 8px;
    padding: 20px 50px;
    background-color: white;
    text-align: right;
}

/* CALCULATOR */
.calculator {
    background-color: #f3f4f7;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 40px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 6px gray;
}

.calc-title {
    font-size: 30px;
    color: #2a2828f9;
    margin-bottom: 30px;
}

#real-savings{
    color: green;
}
.calc-grid{
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.calc-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 7px;
    align-items: stretch; 
}
.calc-row:hover {
  background-color: #f3f4f7;
  box-shadow: 0 4px 10px gray;
  transform: translateY(-3px); 
  padding: 20px; 
}

.calc-col{
    background-color: #f3f4f7;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}

#deals{
    border: 1px solid #2c922c;
    border-radius: 20px;
    background-color:#2c922c;
    color: white;
    padding: 5px 5px;
}

#rate {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#amount {
    font-size: 20px;
    font-weight: bold;
    color: #2a2828f9 ;
}

.strike {
    text-decoration: line-through;
    color: red;
}

.fee {
    font-size: 18px;
    color: black;
}

.sendmoney-btn {
    background-color: #2c922c;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Features */
.features-img-section{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.features-img {
    width: 100%;
    height: auto;
}

.features-text {
    font-size: 30px;
    font-weight: 700;
    color: #2a2828f9;
    margin: 10px 10px;
    text-align: center;
}

.images-row{
    display: flex;
    justify-content: center; 
    gap: 20px;              
    flex-wrap: wrap;      
    margin-bottom: 30px; 
    border: none;
    border-radius: 10px;
}

.images-row img {
    width: 300px; 
    height: auto;
    border: none;
    border-radius: 10px;
    flex-wrap: wrap;
}
